  <div class="flexbox mt-3">
    <% @watches.each do |watch| %>
      <div class="card shadow">
        <div class="card_height">
          <%= link_to(watch_path(watch)) do %>
            <% if watch.photo.attached? %>
              <%= cl_image_tag watch.photo.key, class: "card_img" %>
            <% else %>
              <%= image_tag "https://rb.gy/c98mip", class:"card_img" %>
            <% end %>
          <% end %>
        </div>
          <div class="d-flex justify-content-between d-flex align-items-center text_display">
            <%= watch.brand.upcase %>
          <div class="text_heigh">
          </div>
            <%= watch.price_per_day %> €
          </div>
      </div>
    <% end %>
  </div>
  <div class="my-2">
    <%= link_to "Create", new_watch_path, class: "btn btn-primary"%>
  </div>
