<div class="flexbox">
  <% @watches.each do |watch| %>
    <div class="card shadow">
        <%= link_to(watches_show_path) do %>
          <%= image_tag watch.url, class:"card_img rounded" %>
        <% end %>
      <div class="d-flex justify-content-between d-flex align-items-center text_display">
        <%= watch.brand.upcase %>
      <div style="height:30px"></div>
        <%= watch.price_per_day %> €
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to edit_watch_path(watch), class: "btn btn-primary" do %>
          <i class="fas fa-edit"></i> Edit
        <% end %>
        <%= link_to watch_path(watch), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" do %>
          <i class="fas fa-trash-alt"></i> Delete
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="my-2">
</div>