<div class="ms-2 me-2">
<!-- Searchbar de l'index -->
<div class="col-sm-8 ">
        <%= form_with url: watches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control searchbar_placeholder_border_index col--2",
                placeholder: "Find a watch"%>
          <%= submit_tag "Find a co-watcher", name: "", class: "btn btn-dark  searchbar_btn_border_index" %>
        <% end %>
</div>

  <div class="d-flex justify-content-center">
    <div class="flexbox col-8">
      <% @watches.each do |watch| %>
        <div class="card shadow mxh mb">
            <div class="card_height">
              <%= link_to(watch_path(watch)) do %>
                <% if watch.photo.attached? %>
                  <%= cl_image_tag watch.photo.key, class: "card_img" %>

                <% else %>
                  <%= image_tag watch.url, class:"card_img" %>
                <% end %>
              <% end %>
            </div>
          <div class="d-flex justify-content-between d-flex align-items-center text_display p-1">
            <div class="d-flex">
              <div class="text_brand" >
                <%= watch.brand.upcase %>
              </div>
              <div class="text_model" >
                <%= watch.model %>
              </div>
              <div class="avatar">
                <%= image_tag watch.user.avatar, class: "avatar" %>
              </div>
            </div>
          </div>
            <div class="location">
              <p><i class="fa-solid fa-location-dot"></i> <%= watch.address %><p>
            </div>
            <div class="price-style">
              <%= watch.price_per_day %><strong> €</strong>
            </div>
        </div>
      <% end %>
    </div>
    <div id="map-container" class="rounded shadow map_integration"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
