<div class="container-fluid" style="height: 100vh;">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar-sticky">
      <div class="flex-center">
        <p><%= image_tag current_user.avatar, class: "avatar" %></p>
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        <div class="onglets">
          <div style="padding-bottom: 1em;">
            <%= link_to "My watches", dashboard_path(section: 'watches') %>
          </div>
          <div style="padding-bottom: 1em;">
            <%= link_to "My bookings", dashboard_path(section: 'bookings') %>
          </div>
          <div style="padding-bottom: 1em;">
            <%= link_to "My booking requests", dashboard_path(section: 'bookings request') %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 p-0">

      <!-- Section Watches -->
      <% if @section.nil? || @section == 'watches' %>
        <h3 class="h3-dashboard">My watches</h3>
        <div class="container">
          <div class="d-flex flex-wrap justify-cards">
            <% @watches.each do |watch| %>
              <div class="card shadow m-3" style="width: 18rem;">
                <div class="card-body">
                  <%= link_to(watch_path(watch)) do %>
                    <% if watch.photo.attached? %>
                      <%= cl_image_tag watch.photo.key, class: "card-img-top" %>
                    <% else %>
                      <%= image_tag "https://rb.gy/c98mip", class: "card-img-top" %>
                    <% end %>
                  <% end %>
                  <div class="card-info">
                    <h5 class="card-title mt-3"><%= watch.brand.upcase %></h5>
                    <p class="card-text"><%= watch.price_per_day %> €</p>
                    <div class="d-flex justify-content-around">
                      <%= link_to edit_watch_path(watch), class: "edit-button" do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to watch_path(watch), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- Section My Bookings -->
      <% if @section.nil? || @section == 'bookings' %>
        <h3 class="h3-dashboard">My bookings</h3>
        <p class="p-dashboard">Watches you've always dreamed of:</p>
        <div class="container">
          <div class="d-flex flex-wrap justify-cards">
            <% @bookings.not_nil.each do |booking| %>
              <div class="card shadow m-3" style="width: 18rem;">
                <div class="card-body">
                  <%= link_to(watch_path(booking.watch)) do %>
                    <% if booking.watch.photo.attached? %>
                      <%= cl_image_tag booking.watch.photo.key, class: "card-img-top" %>
                    <% else %>
                      <%= image_tag "https://rb.gy/c98mip", class: "card-img-top" %>
                    <% end %>
                  <% end %>
                  <div class="card-info">
                    <h5 class="card-title mt-3"><%= booking.watch.brand.upcase %></h5>
                    <p class="card-text"><%= booking.watch.price_per_day %> €</p>
                    <div class="container">
                      <div class="d-flex justify-content-around">
                        <%= link_to booking_path(booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- Section My Bookings request -->
      <% if @section.nil? || @section == 'bookings request' %>
        <h3 class="h3-dashboard">My booking requests</h3>
        <p class="p-dashboard">Watches you want to share: </p>
        <div class="container">
          <div class="d-flex flex-wrap justify-cards">
            <% @bookings_of_my_watches.each do |booking| %>
              <div class="card shadow m-3" style="width: 18rem;">
                <div class="card-body">
                  <%= link_to(watch_path(booking.watch)) do %>
                    <% if booking.watch.photo.attached? %>
                      <%= cl_image_tag booking.watch.photo.key, class: "card-img-top" %>
                    <% else %>
                      <%= image_tag "https://rb.gy/c98mip", class: "card-img-top" %>
                    <% end %>
                  <% end %>
                  <div class="card-info">
                    <h5 class="card-title mt-3"><%= booking.watch.brand.upcase %></h5>
                    <p class="card-text"> <%= booking.user.first_name %> wants to rent your watch </p>
                    <p class="card-text"> Total price: <%= booking.watch.price_per_day %> €</p>

                    <% case booking.booking_status %>
                      <% when nil %>
                        <p style="text-align: center">Do you want to accept this booking request?</p>
                        <div class="d-flex justify-content-around">
                          <%= link_to accept_booking_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } do %>
                            <i class="fas fa-check-circle"></i>
                          <% end %>
                          <%= link_to booking_path(booking), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-button" do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </div>
                      <% when 'accepted' %>
                        <p>You have accepted this booking. Do you want to refuse it?</p>
                        <div class="d-flex justify-content-around">
                          <%= link_to booking_path(booking), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "delete-button" do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </div>
                    <% end %>

                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
