<div class="watch-card-container">
  <div class="card-content d-flex">
    <div class="watch-img">
      <%= cl_image_tag @watch.photo.key, class: "card_img" %>
    </div>
    <div class="watch-card d-block">
      <div class="title">
        <div class="watch-title">
          <h1><%= @watch.brand %></h1>
          <p><%= @watch.model %></p>
        </div>
      </div>
      <div class="watch-description">
        <h4>Watch description :</h4>
        <p><%= @watch.description %></p>
      </div>
      <div class="watch-price d-flex">
        <h3><%= @watch.price_per_day %> €</h3>
        <p>/day</p>
      </div>
    </div>
  </div>
  <% if @watch.user != current_user %>
    <div class="form-book"
         data-controller="dynamic-price"
         data-dynamic-price-price-value="<%= @watch.price_per_day %>">
      <h2>Booking :</h2>
        <%= simple_form_for [@watch, @booking],
                            data: {
                              controller: "datepicker",
                              action: "change->dynamic-price#updatePrice"
                            } do |f| %>
          <div class="form-inputs">
              <%= f.input :start_date,
                          as: :string,
                          input_html: {
                            data: {
                              datepicker_target: "startTime",
                              dynamic_price_target: "start"
                            }
                          } %>
              <%= f.input :end_date,
                          as: :string,
                          input_html: {
                            data: {
                              datepicker_target: "endTime",
                              dynamic_price_target: "end"
                            }
                          } %>
          </div>
          <div class="form-actions rounded px-1em text-center">
            <%= f.button :submit %>
          </div>
          <span class="d-none" data-dynamic-price-target="price"></span>
        </div>
      <% end %>
      <% end %>
</div>
<div class="pb-4">
  <div id="map-container" class="rounded shadow container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
